<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header >
    <nav th:replace="fragments :: altNav">

    </nav>
</header>

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label th:for="email">E-Mail
            <input class="form-control" th:field="${loginFormDTO.email}">
        </label>
        <p class="error" th:errors="${loginFormDTO.email}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn" value="Sign In" style="background-color:#663399; color:white;" />
</form>

<p>Don't have an account?</p>
<p>Register <a href="/register">here!</a></p>


</body>
</html>