<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>
<form method="post" th:object="${batchEntryDTO}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Activity</th>
            <th>Time Category</th>
            <th>Current Hours</th>
            <th>Time To Add</th>
        </tr>
        </thead>
        <tr th:each="activity, i : ${batchEntryDTO.activities.keySet()}">
            <td><a style="color:#663399;" th:href="'/activities/details?activityId=' + ${activity.id}" th:text="${activity.name}" ></a></td>
            <td><P th:text="${activity.category}">N/A</P></td>
            <td><p th:text="${activity.hours}"></p></td>
            <td>
                <div class= "form-group">
                    <input th:field="${activity.hoursToAdd}" class="form-control">
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" th:value="${batchEntryDTO}" name="batchEntryDTO" class="form-control">
    <input type="submit" value="Add Time" class="btn" style="background-color:#663399; color:white;">
</form>
</body>
</html>