<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>


    <form method="post">
        <div class="form-group">
            <label>Name
                <input th:field="${activity.name}" class="form-control">
            </label>
            <p class="error" th:errors="${activity.name}"></p>
        </div>
        <div class="form-group">
            <label>Hours Worked on so far:
                <input th:field="${activity.hours}" class="form-control">
            </label>
            <p class="error" th:errors="${activity.hours}"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn" style="background-color:#663399; color:white;">
        </div>
    </form>



</body>
</html>