<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table th:unless="${noActivity}" class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${activity.name}"></td>
    </tr>
    <tr>
        <th>Category</th>
        <td><p th:text = "${activity.category}"></p></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${activity.description}"></td>
    </tr>
    <tr>
        <th>Hours Worked</th>
        <td th:text="${#numbers.formatDecimal(activity.hours == null ? 0 : activity.hours, 1, 3)}"></td>
    </tr>
    <tr>
        <form method="post">
            <input type="hidden" name="activityId" th:value="${activity.id}">
            <th><input type="submit" value="Add Hours" class="btn" style="background-color:#663399; color:white;"></th>
            <td><input name="timeToAdd" value="0.0"></td>
            <tr><td><input type="submit" name="delete" value="Delete" class="btn" style="background-color:#990000; color:white;"></td></tr>
        </form>
    </tr>
</table>

</body>
</html>