<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Activity</th>
        <th>Time Category</th>
        <th>Hours</th>
        <th>Timer</th>
    </tr>
    </thead>
    <tr th:each="activity : ${activities}">
            <td><a style="color:#663399;" th:href="'/activities/details?activityId=' + ${activity.id}" th:text="${activity.name}" ></a></td>
            <td><P th:text="${activity.category}">N/A</P></td>
            <td><p th:text="${#numbers.formatDecimal(activity.hours == null ? 0 : activity.hours, 1, 2)}"></p></td>
            <td>
                <form method="post">
                    <div class= "form-group">
                        <input type="hidden" name="activityId" th:value="${activity.id}">
                        <input th:if="${activity.working}" type="submit" value="Stop Working" class="btn" style="background-color:#993299; color:white;">
                        <input th:unless="${activity.working}" type="submit" value="Start Working" class="btn" style="background-color:#323299; color:white;">
                    </div>
                </form>
            </td>
    </tr>
</table>

</body>
</html>