<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Time Tracker</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{styles.css}">

</head>
<body>


    <header th:fragment="header">
        <nav class="navbar navbar-dark" style="background-color: #663399; color: #ffffff;">
            <h2 th:if="${title != null}" th:text="${title}"></h2>
            <h1 th:unless="${title != null}">Time Tracker</h1>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../logout">Sign Out</a></li>
                <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../activities">View Activities</a></li>
                <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../activities/create">Create Activity</a></li>
                <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../activities/batch">Batch Entry</a></li>
                <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../summary">Summary</a></li>
            </ul>
        </nav>
    </header>


    <nav th:fragment="altNav" class="navbar navbar-dark" style="background-color: #663399; color: #ffffff;">
        <h2 th:if="${title != null}" th:text="${title}"></h2>
        <h1 th:unless="${title != null}">Time Tracker</h1>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../login">Sign In</a></li>
            <li class="nav-item"><a class="nav-link" style="color:#ffffff" href="../register">Create an Account</a></li>
        </ul>
    </nav>

</body>
</html>