<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Activity</th>
        <th>Time Category</th>
    </tr>
    </thead>
    <tr th:each="activity : ${activities}">
        <div th:if="${activity.user.id == user.id} ">
            <td>
                <div>
                    <div>
                        <a class="btn btn-sm" data-toggle="collapse" th:href="'#collapse' + ${activity.id}" role="button" style="background-color:#663399; color:white;" color="white" th:text="${activity.name}"  ></a>
                        <div class="collapse" th:id="'collapse' + ${activity.id}">
                            <br>
                            <p th:text="'Activity Description: '+ ${activity.description}"></p>
                            <p th:text="'Hours worked this period: '+ ${#numbers.formatDecimal(activity.hours == null ? 0 : activity.hours, 1, 2)}"></p>
                            <p th:text="'Hours worked to date: '+ ${#numbers.formatDecimal(activity.lifeTimeHours == null ? 0 : activity.lifeTimeHours, 1, 2)}"></p>
                        </div>
                    </div>
                </div>
            </td>

            <td><P th:text="${activity.category}">N/A</P></td>
            <!--
            <td>
                <form method="post">
                    <div class= "form-group">
                        <input type="hidden" name="activityId" th:value="${activity.id}">
                        <input type="submit" name="add" th:value="Remove" class="btn" style="background-color:#663399; color:white;">
                    </div>
                </form>
            </td>
            -->
        </div>
    </tr>
</table>
<form method="post">
    <input type="submit" name="submitType" value="Export to .csv" class="btn" style="background-color:#663399; color:white;">
    <input type="submit" name="submitType" value="Export to E-mail" class="btn" style="background-color:#663399; color:white;">
    <input type="submit" name="submitType" value="Clear Hours" class="btn" style="background-color:#663399; color:white;">
</form>


</body>
</html>